<% var isIndex = page.path === 'index.html' %>

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%- page.title ? page.title + ' — ' : '' %>ByteDesign</title>
    <meta charset="utf-8">
    <meta name="description" content="<%- theme.site_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="alternate" hreflang="x-default" href="http://design.bytedance.net/<%- page.path %>">
    <link rel="alternate" hreflang="zh" href="http://design.bytedance.net/en/<%- page.path %>">

    <meta property="og:type" content="article">
    <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>Vue.js">
    <meta property="og:description" content="<%- theme.site_description %>">
    <meta property="og:image" content="https://<%- theme.root_domain %>/<%- url_for("/img/logo.png") %>">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%- page.title ? page.title + ' — ' : '' %>Vue.js">
    <meta name="twitter:description" content="<%- theme.site_description %>">
    <meta name="twitter:image" content="https://<%- theme.root_domain %>/images/logo.png">

    <link rel="apple-touch-icon" sizes="57x57" href="<%- url_for("/images/icons/apple-icon-57x57.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%- url_for("/images/icons/apple-icon-60x60.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%- url_for("/images/icons/apple-icon-72x72.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for("/images/icons/apple-icon-76x76.png") %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%- url_for("/images/icons/apple-icon-114x114.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%- url_for("/images/icons/apple-icon-120x120.png") %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for("/images/icons/apple-icon-144x144.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%- url_for("/images/icons/apple-icon-152x152.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for("/images/icons/apple-icon-180x180.png") %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%- url_for("/images/icons/android-icon-192x192.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for("/img/icons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%- url_for("/img/icons/favicon-96x96.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for("/img/icons/favicon-16x16.png") %>">
    <link rel="shortcut icon" type="image/x-icon" href="<%- url_for("/img/icons/favicon.ico") %>">
    <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
    <link rel="icon" href="<%- url_for("/images/logo.png") %>" type="image/png">

    <meta name="msapplication-TileColor" content="#4fc08d">
    <meta name="theme-color" content="#4fc08d">

    <meta name="msapplication-config" content="browserconfig.xml">
    <link rel="manifest" href="/manifest.json">

    <!-- <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'> -->
    <!-- <link href='//fonts.googleapis.com/css?family=Dosis:500&text=Vue.js' rel='stylesheet' type='text/css'> -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.min.css" />


    <script src="<%- url_for("/js/jquery-3.3.1.min.js") %>"></script>

    <!-- main page styles -->
    <%- css(isIndex ? 'css/index' : 'css/page') %>

    <!-- GrowingIO Analytics code version 2.1 -->
    <!-- Copyright 2015-2018 GrowingIO, Inc. More info available at http://www.growingio.com -->
    <script type='text/javascript'>
    !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
      gio('init','b8686ec4366755a0', {});
    //custom page code begin here
    //custom page code end here
    gio('send');
    </script>
    <!-- End GrowingIO Analytics code version: 2.1 -->


    <!-- Hotjar Tracking Code for design.bytedance.net -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1147366,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>


    <!-- this needs to be loaded before guide's inline scripts -->
    <script src="<%- url_for("/js/vue.js") %>"></script>
    <script>
      Vue.config.productionTip = false
      window.PAGE_TYPE = "<%- page.type %>"
    </script>


    <script type="text/javascript">
    const algoliaConfig = document.querySelector('meta[property="algolia:search"]').dataset;

    const client = algoliasearch(algoliaConfig.applicationID, algoliaConfig.apiKey);
    const index = client.initIndex(algoliaConfig.indexName);
    </script>

  </head>
  <body class="<%- isIndex ? '' : 'docs' -%>">
    <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
      <a class="menu-button"></a>
      <a class="logo" href="/"></a>
    </div>
    <%- partial('partials/header') %>
    <% if (!isIndex) { %>
        <% if (page.layout === 'pagefull') { %>
            <div id="main" class="no-sidebar">
          <% } else { %>
            <div id="main" class="fix-sidebar">
        <% } %>
        <% if (page.blog_index) { %>
          <%- partial('partials/blog') %>
        <% } else { %>
          <%- body %>
        <% } %>
      </div>
      <script src="<%- url_for("/js/smooth-scroll.min.js") %>"></script>
    <% } else { %>
      <%- body %>
    <% } %>

    <!-- main custom script for sidebars, version selects etc. -->
    <script src="<%- url_for("/js/css.escape.js") %>"></script>
    <script src="<%- url_for("/js/common.js") %>"></script>

    <script src="<%- url_for("/js/typewriter.js") %>"></script>
    <script src="<%- url_for("/js/main.js") %>"></script>

    <!-- search -->
    <link href="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" rel='stylesheet' type='text/css'>
    <%- css('css/search') %>
    <script src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
    <script>
    [
      '#search-query-nav',
      '#search-query-sidebar',
      '#search-query-menu'
    ].forEach(function (selector) {
      if (!document.querySelector(selector)) return
      // search index defaults to v2
      // var match = window.location.pathname.match(/^\/(v\d+)/)
      // var version = match ? match[1] : 'v2'
      docsearch({
      appId: '6PNLUOF2PF',
      apiKey: '8055085e517c6ccc0015081d08649be6',
      indexName: 'bux',
      // appId: 'BH4D9OD16A',
      // apiKey: '5638280abff9d207417bb03be05f0b25',
      // indexName: 'vuejs_cn2',
      inputSelector: selector,
      //algoliaOptions: { facetFilters: ["version:" + version] }
      })
    })
    </script>


    <!-- fastclick -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      FastClick.attach(document.body)
    }, false)
    </script>
  </body>
</html>
