<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="<%- url_for("/") %>" class="nav-link home<%- is_home() ? ' current' : '' %>"><%- __('home') %></a></li>
<li><a href="<%- url_for("/guide/index.html") %>" title="<%- page.path %>" class="nav-link guide<%- page.path.match(/guide/) ? ' current' : '' %>"><%- __('main_menu.design') %></a></li>
<li><a href="<%- url_for("#") %>" title="<%- page.path %>" class="nav-link guide<%- page.path.match(/develop/) ? ' current' : '' %>"><%- __('main_menu.develop') %></a></li>
<li><a href="<%- url_for("/resources") %>" title="<%- page.path %>" class="nav-link guide<%- page.path.match(/resources/) ? ' current' : '' %>"><%- __('main_menu.resources') %></a></li>
<%- partial('partials/support_vue_dropdown') %>
