<li class="nav-dropdown-container support-vue">
  <a href="#" class="nav-link">关于更多</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="<%- url_for("/about/index.html") %>" title="<%- page.path %>" class="nav-link guide<%- page.path.match(/about/) ? ' current' : '' %>">关于我们</a></li>
      <li><a href="<%- url_for("/about/jobs.html") %>" title="<%- page.path %>" class="nav-link guide<%- page.path.match(/jobs/) ? ' current' : '' %>">工作机会</a></li>
      <li><a href="<%- url_for("/markdown.html") %>" class="nav-link<%- page.path.match(/markdown/) ? ' current' : '' %>">写作指南</a></li>
      <li><a href="https://code.byted.org/jinlei.ued/bux" target="_blank" class="nav-link">参与编辑</a></li>
    </ul></li>
  </ul>
</li>
